<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Fetching paper...</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
        <style>
            #loading{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 100vh;
                gap: 30px
            }

            h1{
                font-family: "Roboto Slab",sans-serif;
            }
        </style>
    </head>
    <body>
        <div id="loading">
            <script
              src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs"
              type="module"
            ></script>

            <dotlottie-player
              src="https://lottie.host/99e603a0-e87f-4fb3-86f2-8ec2a9067949/QT39WWUiGT.lottie"
              background="transparent"
              speed="1"
              style="width: 420px; height: 300px"
              loop
              autoplay="true"
            ></dotlottie-player>
            <h1>Fetching Your Paper...</h1>

        </div>
    <form id="doiForm" action="/fetch_doi" method="post" style="display: none;">
    <input type="hidden" name="title" value="{{ title }}" />
    <input type="hidden" name="author" value="{{ author }}" />
  </form>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById('doiForm').submit();
    })
  </script>

    </body>
</html>
