<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Search Results for "{{ query }}"</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <style>

        button:hover {
            cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%231155FF" stroke-width="2.25" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'), pointer;
        }

        .link {
            stroke: #999;
            stroke-opacity: 0.6;
        }

        .label {
            font-family: Arial;
            font-size: 12px;
            fill: black;
        }

        .nodes {
            cursor: pointer
        }

        #filter-bar {
            padding-top: 20px;
            align-items: flex-start;
        }

        #history {
            margin-top: 30px;
            margin-bottom: -170px;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet">
</head>
<body>
<div id="filter-bar" class="flex items-center space-x-4 p-4">
    <div>
        <h1 class="text-2xl font-bold">
            <span class="text-blue-700">ScholarNet</span>
            <span class="text-black">Search</span>
        </h1>
        <div id="history">
            <div id="history">
                <div class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg">
                    <button href="#" aria-current="true"
                            class="block w-full px-4 py-2 text-white bg-blue-700 border-b border-gray-200 rounded-t-lg cursor-pointer">
                        Search History
                    </button>
                    <form action="/search" method="post" class="flex items-center">
                        <input id="query1" type="hidden" name="query" value="">
                        <button id="hist1"
                                class="submit-btn block w-full px-4 py-2 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
                        </button>
                    </form>

                    <form action="/search" method="post" class="flex items-center">
                        <input id="query2" type="hidden" name="query" value="">
                        <button id="hist2"
                                class="submit-btn block w-full px-4 py-2 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
                        </button>
                    </form>

                    <form action="/search" method="post" class="flex items-center">
                        <input id="query3" type="hidden" name="query" value="">
                        <button id="hist3"
                                class="submit-btn block w-full px-4 py-2 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <form action="/search" method="post" class="flex items-center">
        <label for="default-search" class="sr-only">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
                </svg>
            </div>
            <input type="text" name="query"
                   class="block w-60 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                   placeholder="Search Research Papers..." required="" value= "{{ query }}">
        </div>
        <button type="submit"
                class="ml-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">
            Search
        </button>
        <label for="filter" class="block text-sm font-medium text-gray-900 pr-5 pl-5">Filter</label>
        <select id="citations_filter" name="citations_filter"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full px-2.5">
            <option selected value="0">Number of Citations</option>
            <option value=250>250+</option>
            <option value=100>100+</option>
            <option value=50>50+</option>
            <option value=25>25+</option>
            <option value=10>10+</option>
        </select>
        <select id="author_filter" name="author_filter"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full px-2.5">
            <option selected value="0">Author</option>
            {% for author in authors %}
                <option value="{{ author }}">{{ author }}</option>
            {% endfor %}
        </select>
        <select id="venue_filter" name="venue_filter"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full px-2.5">
            <option selected value="0">Venue</option>
            {% for venue in venues %}
                <option value="{{ venue }}">{{ venue }}</option>
            {% endfor %}
        </select>
        <button type="submit"
                class="ml-2 shrink-0 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">
            Apply Filter
        </button>

    </form>

</div>
<script>
    isDragging = false
    const nodes = {{ nodesData | tojson }};
    const links = {{ linksData | tojson }};
    const searchHistory = {{searchHistory | tojson }};

    updateSearchHistory(searchHistory);

    const width = 1600, height = 830;
    const color = d3.scaleOrdinal(d3.schemeCategory10);
    const svg = d3.create("svg")
        .attr("width", width)
        .attr("height", height)
        .attr("viewBox", [-width / 2, -height / 2, width, height])
        .attr("style", "max-width: 100%; height: auto;");

    // Create simulation
    const simulation = d3.forceSimulation(nodes)
        .force("link", d3.forceLink(links).id(d => d.id))
        .force("charge", d3.forceManyBody().strength(d => -d.weight * 23))
        .force("x", d3.forceX())
        .force("y", d3.forceY())

    // Draw links
    const link = svg.append("g")
        .attr("class", "links")
        .selectAll("line")
        .data(links)
        .enter().append("line")
        .attr("class", "link");

    // Draw nodes
    const node = svg.append("g")
        .attr("class", "nodes")
        .selectAll("circle")
        .data(nodes)
        .enter().append("circle")
        .attr("class", "node")
        .attr("r", d => d.weight * 3)
        .attr("fill", d => color(d.group))
        .call(d3.drag()
            .on("start", dragStarted)
            .on("drag", dragged)
            .on("end", dragEnded)
        ).on("mouseenter", (event, d) => {
            if (!isDragging) {
                label.filter(l => l.id === d.id).style("display", "block");
            }
        })
        .on("mouseleave", (event, d) => {
            if (!isDragging) {
                label.filter(l => l.id === d.id).style("display", "none");
            }
        })
        .on('click', (event, d) => {
            const title = encodeURIComponent(d.title);
            const author = encodeURIComponent(d.authors[0]);
            window.open(`/loading?title=${title}&author=${author}`, '_blank');
        });

    // Add labels
    const label = svg.append("g")
        .attr("class", "labels")
        .selectAll("text")
        .data(nodes)
        .enter().append("text")
        .attr("class", "label")
        .text(d => d.title).style("display", "none");

    // Update positions on every tick
    simulation.on("tick", () => {
        link
            .attr("x1", d => d.source.x)
            .attr("y1", d => d.source.y)
            .attr("x2", d => d.target.x)
            .attr("y2", d => d.target.y);

        node
            .attr("cx", d => d.x)
            .attr("cy", d => d.y);

        label
            .attr("x", d => d.x + d.weight * 3.2)
            .attr("y", d => d.y);
    });

    // Dragging behavior
    function dragStarted(event, d) {
        isDragging = true;
        if (!event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
    }

    function dragged(event, d) {
        d.fx = event.x;
        d.fy = event.y;
    }

    function dragEnded(event, d) {
        isDragging = false;
        if (!event.active) simulation.alphaTarget(0);
        d.fx = null;
        d.fy = null;
    }

    function updateSearchHistory(searchHistory) {
        i = searchHistory.length - 1

        console.log(i);
        console.log('here');

        while (i >= 0 && i < searchHistory.length && i > searchHistory.length - 4) {
            const historyBar = document.getElementById(`hist${searchHistory.length - i}`);
            const queryInfo = document.getElementById(`query${searchHistory.length - i}`);
            historyBar.innerText = searchHistory[i];
            queryInfo.value = searchHistory[i];
            i--;
        }

    }

    document.querySelectorAll('.submit-btn')
            .forEach(function (button) {
                button.addEventListener("click", function (event) {
                    const buttonText = button.innerText;
                    const form = event.target.closest("form");

                    if (buttonText) {
                        form.submit()
                    } else {
                        event.preventDefault();
                    }
                })
            })

    // Append SVG to the body (or another container)
    document.body.appendChild(svg.node());


</script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>
</html>
